{erl_opts, [debug_info]}.
{deps, [
  {lager, "3.9.2"},
  {jsx, "3.1.0"}
]}.

{shell, [
  {config, "config/shell.config"},
  {apps, [ccid_emul]}
]}.

{relx, [
    {release, {ccid_emul, "1.0.0"}, [ccid_emul, runtime_tools]},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {overlay, [{copy, "scripts/ccidemuladm", "bin/"}]}
]}.
